<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blog-register</title>
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="blog_register_style.css">
</head>

<body>
    <header>
        <div class="inner">
            <ul class="list">
                <li class="list-1">usernameの表示</li>
                <li class="list-1"><a href="" class="list-2">記事一覧</a></li>
                <li class="list-1"><a href="" class="list-2">記事登録</a></li>
                <li class="list-1"><a href="" class="list-2">ログアウト</a></li>
            </ul>
        </div>

    </header>

    <main>
        <h1>記事登録</h1>
        <div class="registration-container">
            <h2>登録</h2>
            <form>
                <div class="form-group">
                    <div>
                        <label for="blog_name">記事名</label>
                        <input class="input-1" type="text" id="blog_name" name="blog_name" required placeholder="記事名を入力してください">
                    </div>
                    <div class="form-group">
                        <label for="blog_image">画像</label>
                        <input type="file" id="blog_image" name="blog_image" >
                    </div>
                    <div class="form-group">
                        <label for="blog_content">記事内容</label>
                        <textarea name="productDescription" placeholder="記事内容を入力してください"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <button class="button" type="submit">登録</button>
                    <button class="back-btn" onclick="history.back();" type="button">戻る</button>
                </div>
            </form>
        </div>


    </main>
    <footer>
        <small>&copy; 2023 youketu </small>
    </footer>

</body>

</html>