<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit</title>
    <link rel="stylesheet" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" th:href="@{/css/blog_edit_style.css}">
</head>

<body>
    <header>
        <div class="inner">
            <ul class="list">
                <li class="list-1"><a href="" th:text="${userName}" class="list-2"></a></li>
                <li class="list-1"><a th:href="@{/blog/list}" class="list-2">記事一覧</a></li>
                <li class="list-1"><a th:href="@{/blog/register}" class="list-2">記事登録</a></li>
                <li class="list-1"><a th:href="@{/logout}" class="list-2">ログアウト</a></li>
            </ul>
        </div>

    </header>

    <main>
        <h1>記事編集</h1>
        <div class="registration-container">
            <h2>編集</h2>
            <form th:action="@{/blog/edit/process}" method="post" enctype="multipart/form-data" >
				<div>
                    <div class="form-group">
                        <label for="blog_name">記事名</label>
                        <input type="text" id="blog_name" name="blogTitle" th:value="${blog.blogTitle}" >
                    </div>
                    <div class="form-group">
                        <label for="blog_image">画像</label>
                        <input type="file" id="blog_image" name="blogImage" required >
                    </div>
                    <div class="form-group">
                        <label for="blog_content">記事内容</label>
                        <textarea name="blogContent" th:text="${blog.blogContent}" ></textarea>
                    </div>
                </div>
                <div class="form-group">
					<input type="hidden" name="blogId" th:value="${blog.blogId}">
                    <button class="button" type="submit">編集</button>
                    <button class="back-btn" onclick="history.back();" type="button">戻る</button>
                </div>
            </form>
            <form th:action="@{/blog/delete}" method="post">
                <div class="">
					<input type="hidden" name="blogId" th:value="${blog.blogId}">
                    <button class="del-btn">削除</button>
                </div>
            </form>
        </div>


    </main>
    <footer>
        <small>&copy; 2023 youketu </small>
    </footer>

</body>

</html>