body{
    width: 100%;
    background-image:url(./cod1.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

header{
    
    color: rgb(246, 7, 35);
    width: 70%;
    height: 160px;
}
header img {
    width: 100%;
    height: 160px;
}



main{
    width: 100%;
    padding: 50px;
}
.welcome {
    color: red;
    margin-left: 30%;
    margin-bottom: 30px;
}

.login-container{
    margin-left: 20%;
    background-image:url(./cod1.jpg);
    background-size: cover;
    padding: 20px;
    width: 350px;
    height: 300PX;
    text-align: center;
    border-radius: 25px;
    color: rgb(246, 7, 35);
    margin-bottom: 100px;
    


}
input{
    background-color:bisque;
    width: 100%;

}
.button{
    border-radius: 25px;
    background-color:bisque;
    color:rgb(246, 7, 35);
}
.link-color{
    color: brown;
}