body{
    width: 100%;
    background-image:url(../img/cod1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

header{
    background-color: #0f0e0e;
    color: rgb(248, 248, 248);
    width: 100%;
    height: 50px;
    padding: 0.1%;
}

ul{
    display: flex;
    list-style: none;
}
.list-1{
    width: 100%;
}
.list-2{
    background-color: rgb(226, 229, 229);
    border-radius: 5px;
    text-decoration: none;
    color: rgb(13, 13, 12);
}

h1{
    padding-left:37%;
    color: rgb(255, 180, 127);
}

main{
    width: 70%;
    padding: 50px;
   
}

.registration-container{
    margin-left: 20%;
    background-image:url(../img/cod1.jpg);
    background-size: cover;
    padding: 20px;
    width: 550px;
    height: 600PX;
    text-align: center;
    border-radius: 25px;
    color: rgb(255, 180, 127);
    margin-bottom: 100px;
  }

.form-group{
    margin: 40px auto;
    width: 100%;
    
   }

input{
    background-color:bisque;
    width: 80%;

}
.button{
    border-radius: 5px;
    background-color:rgb(57, 57, 56);
    color:rgb(255, 180, 127);
}
.back-btn{
    border-radius: 5px;
    background-color:rgb(57, 57, 56);
    color:rgb(255, 180, 127);
}
.del-btn{
    border-radius: 5px;
    background-color:rgb(57, 57, 56);
    color:rgb(255, 180, 127);

}

textarea{
    background-color:bisque;
    resize: none;
    width: 80%;
    height:250px;
    vertical-align: middle;  
    
    
}
footer{ position: fixed; 
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #0f0e0e; 
    padding: 10px;
    color: aliceblue;

}
