body{
    width: 100%;
    background-image:url(../img/cod1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}



main{
    width: 100%;
  
}
.welcome {
    color: rgb(255, 180, 127);
    margin-top: 8%;
    margin-left: 18.7%;
    margin-bottom: 30px;
}

.login-container{
    margin-left: 12%;
    background-image:url(../img/cod1.jpg);
    background-size: cover;
    padding: 20px;
    width: 350px;
    height: 300PX;
    text-align: center;
    border-radius: 25px;
    color: rgb(255, 180, 127);
    margin-bottom: 100px;
    


}
input{
    background-color:bisque;
    width: 100%;

}
.button{
    border-radius: 25px;
    background-color:rgb(57, 57, 56);
    color:rgb(255, 180, 127);
}
.link-color{
    color: bisque;
}
footer{ position: fixed; 
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #080808; 
    padding: 10px;
    color: aliceblue;

}