body{
    width: 100%;
    background-image:url(../img/cod.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}



main{
    
    width: 100%;
    
}
.account{
    color: red;
    margin-top: 8%;
    margin-left: 18%;
    margin-bottom: 30px;
}

.registration-container{
    
    margin-left: 12%;
    background-image:url(../img/cod.jpg);
    background-size: cover;
    padding: 20px;
    width: 400px;
    height: 300PX;
    text-align: center;
    border-radius: 25px;
    color: rgb(246, 7, 35);
    
    


}
input{
    background-color:bisque;
    width: 100%;

}
.button{
    border-radius: 5px;
    background-color:bisque;
    color:rgb(246, 7, 35);
}
.link-color{
    color: brown;
}
footer{ position: fixed; 
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #030303; 
    padding: 10px;
    color: aliceblue;

}