body{
    width: 100%;
    background-image:url(/login/cod1.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

header{
    
    color: rgb(246, 7, 35);
    width: 70%;
    height: 160px;
    
}
ul{
    display: flex;
    list-style: none;
    
}
.list-1{
    width: 310px;
    
}
.list-2{
    text-decoration: none;
    color: rgb(255, 180, 127);
}

header img {
    width: 100%;
    height: 160px;
    object-fit: none;
    
}
div{
    width: 100%;
}
h2{
    padding-left: 40%;

    
}

main{
    
    color: rgba(239, 204, 28, 0.839);
    margin-top: 80px;
    left: 10%;
    width: 70%;
    


}
.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
article {
    
    width: 30%;
    color:brown ;
}
.blog-img{
    width: 100%;

}
.next-back{
    display: flex;
    padding-left: 37%;
    
}
.next-back-li{
    width: 100px;
   

}
.blog a{
    text-decoration: none;
    color: rgba(239, 204, 28, 0.839);
}
